//variables
$orange: #fcb47a;
$project-background: radial-gradient(#688dd1, #113b75);

//base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // 10px = 1rem
}

body {
  //disable text highlighting
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Lato", serif;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.2rem;
}

// media queries

@media screen and (min-width: 480px) {
  html {
    font-size: 93.75%;
  }
}

@media screen and (min-width: 680px) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 880px) {
  html {
    font-size: 150%;
  }
}

//lapton size
@media screen and (min-width: 1023px) {
  html {
    font-size: 100%;
  }
}
@media screen and (min-width: 1223px) {
  html {
    font-size: 112.5%;
  }
}
@media screen and (min-width: 1423px) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 1623px) {
  html {
    font-size: 137.5%;
  }
}
@media screen and (min-width: 1823px) {
  html {
    font-size: 150%;
  }
}
@media screen and (min-width: 2023px) {
  html {
    font-size: 162.5%;
  }
}
