//get in touch button on top
#get-in-touch {
    font-size: 4.5rem;
    color: #fcb47a;
    border: 4px solid #fcb47a;
}
  
#get-in-touch-coding {
    transform: scale(1);
    transition: transform 0.4s;

    &:hover {
        transform: scale(1.1);
    }
}

//buttons on landing page
.btn:link,
.btn:visited {
  text-decoration: none;
  background-color: #fff;
  border-radius: 4rem;
  padding: 2rem;
  width: 22rem;

  margin: 0 2rem;
  letter-spacing: 0rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  transition: transform 0.4s;
}

.btn:active,
.btn:hover {
  transform: translateY(-5px);
}
.btn--black {
  border: 4px solid black;
  color: rgb(0, 0, 0);
}

.btn--blue {
  border: 4px solid #03a7ff;
  color: #00a6ff;
}

.btn img {
    height: 4rem;
    width: 4rem;
}
//project 
.project__structure--image img {
    border-radius: 10rem;
    width: 80rem;
    height: 50rem;
}
  
.project__structure--writing {
    width: 80rem;
    height: 50rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right__text {
    font-size: 3.5rem;
}

.right__logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.right__logos--main1 img {
    height: 9rem;
}
  
.right__logos--main2 img {
    height: 6rem;
}

//javascript plugin

span {
    background: #fff !important;
  }


// media queries
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 854px) {

}

@media screen and (max-width: 640px) {    
}


// mobile

@media screen and (max-width: 480px) {
}



@media screen and (max-width: 360px) {
}



@media screen and (max-width: 320px) {

}