* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Lato", serif;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 93.75%;
  }
}
@media screen and (min-width: 680px) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 880px) {
  html {
    font-size: 150%;
  }
}
@media screen and (min-width: 1023px) {
  html {
    font-size: 100%;
  }
}
@media screen and (min-width: 1223px) {
  html {
    font-size: 112.5%;
  }
}
@media screen and (min-width: 1423px) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 1623px) {
  html {
    font-size: 137.5%;
  }
}
@media screen and (min-width: 1823px) {
  html {
    font-size: 150%;
  }
}
@media screen and (min-width: 2023px) {
  html {
    font-size: 162.5%;
  }
}
header {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #2f1866, #3761b1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
header .navigation {
  display: none;
}
header .naming {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.main {
  background: linear-gradient(to bottom, #2e578f, #458eb8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main__name {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 4rem 0;
}
.main__paragraph {
  text-align: center;
  font-size: 1.6rem;
  width: 95%;
  margin-bottom: 4rem;
}
.main__tech-stack {
  width: 100%;
  background-color: #fff;
}
.main__tech-stack .tech-stack {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__tech-stack .tech-stack img {
  width: 3.7rem;
  height: 3.7rem;
  margin: 1rem 0;
}

.projects {
  background: radial-gradient(#688dd1, #113b75);
}

.project {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
}
.project__name {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3rem;
}
.project__structure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  background: radial-gradient(#f6e2d2, #fba055);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__naming {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}
.footer__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__buttons .btn:link,
.footer__buttons .btn:visited {
  text-decoration: none;
  border: 0.2rem solid #fff;
  padding: 0.3rem;
  border-radius: 15px;
  transition: transform 0.4s;
  margin: 1rem 2rem;
}
.footer__buttons .btn:hover,
.footer__buttons .btn:active {
  transform: translateY(-5px);
}
.footer__buttons .btn img {
  height: 2.5rem;
  width: 2.5rem;
}

@media screen and (min-width: 1023px) {
  header {
    justify-content: space-between;
    height: 100vh;
  }
  header .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 2.5rem 0;
  }
  header .navigation a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.4s;
  }
  header .navigation a:hover {
    border-bottom: 4px solid #fff;
  }
  header .naming {
    font-size: 3rem;
  }

  .main__name {
    font-size: 1.5rem;
    margin: 6rem 0 2rem 0;
  }
  .main__paragraph {
    font-size: 1.5rem;
    width: 70%;
    padding: 2rem;
  }
  .main__tech-stack .tech-stack img {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0.5rem 0;
  }

  .projects {
    background: radial-gradient(#688dd1, #113b75);
  }

  .project {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.5rem 0;
  }
  .project__name {
    font-size: 2.1rem;
    padding-bottom: 5rem;
  }
  .project__structure {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .project:first-child {
    padding-top: 15rem;
  }
  .project:last-child {
    padding-bottom: 15rem;
  }

  .footer__naming {
    font-size: 4rem;
  }
  .footer__buttons .btn:link,
.footer__buttons .btn:visited {
    margin: 3rem 4rem;
  }
  .footer__buttons .btn img {
    height: 4rem;
    width: 4rem;
  }
}
#get-in-touch {
  font-size: 1.9rem;
  color: #fcb47a;
  border: 4px solid #fcb47a;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
}

#get-in-touch-coding {
  transform: scale(1);
  transition: transform 0.4s;
  animation: beats 1.5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes beats {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.project__structure--image img {
  border-radius: 5rem;
  width: 28rem;
  height: 18rem;
  box-shadow: 0rem 2rem 2rem 0 #113b75;
}

.project__structure--writing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.right__text {
  font-size: 1.3rem;
  width: 28rem;
  text-align: center;
}

.right__logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__logos--main1 img {
  height: 5rem;
  margin: 2rem 0;
  animation: beats 1.5s linear infinite;
}

.right__logos--main2 img {
  height: 3.5rem;
  margin: 1rem 0;
}

@media screen and (min-width: 1023px) {
  #get-in-touch {
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  .project__structure--image img {
    border-radius: 5rem;
    width: 30rem;
    height: 20rem;
    box-shadow: 0rem 2rem 2rem 0 #113b75;
  }

  .right__text {
    font-size: 1.2rem;
    width: 30rem;
    text-align: center;
  }

  .right__logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right__logos--main1 img {
    height: 3.5rem;
    margin: 1rem 0;
    animation: beats 1.5s linear infinite;
  }

  .right__logos--main2 img {
    height: 2.5rem;
    margin: 0rem 0;
  }
}