* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", serif;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 93.75%;
  }
}
@media screen and (min-width: 680px) {
  html {
    font-size: 100%;
  }
}
header {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #2f1866, #3761b1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page__navigation {
  display: none;
}
.landing-page__naming {
  text-align: center;
  font-size: 2rem;
  margin: 22rem 0 0 0;
}

.main {
  background: linear-gradient(to bottom, #2e578f, #458eb8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main__name {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 7.5rem 0 2.5rem 0;
  text-align: center;
}
.main__paragraph {
  text-align: center;
  font-size: 1.6rem;
  width: 95%;
  margin: 2.5rem 0 8rem 0;
}
.main__tech-stack {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__tech-stack img {
  width: 3.7rem;
  height: 3.7rem;
  margin: 1rem 0;
}

.projects {
  background: radial-gradient(#688dd1, #113b75);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15rem 0 10rem 0;
}
.project__name {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 5rem 0 2.5rem 0;
}
.project__structure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.project:last-child {
  padding-bottom: 30rem;
}

.footer {
  background: radial-gradient(#f6e2d2, #fba055);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__naming {
  margin-top: 10rem;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}
.footer__buttons {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
.footer__buttons .btn:link,
.footer__buttons .btn:visited {
  text-decoration: none;
  margin: 0rem 2rem;
  border: 0.2rem solid #fff;
  padding: 0.3rem;
  border-radius: 15px;
  transition: transform 0.4s;
}
.footer__buttons .btn:hover,
.footer__buttons .btn:active {
  transform: translateY(-5px);
}
.footer__buttons .btn img {
  height: 2.5rem;
  width: 2.5rem;
}

@media screen and (min-width: 480px) {
  .main__name {
    font-size: 1.5rem;
  }
  .main__paragraph {
    font-size: 1.7rem;
  }
  .main__tech-stack img {
    width: 4rem;
    height: 4rem;
    margin: 1.2rem 0;
  }

  .project__name {
    font-size: 2.2rem;
  }

  .footer__buttons .btn img {
    height: 2.7rem;
    width: 2.7rem;
  }
}
#get-in-touch {
  font-size: 1.9rem;
  color: #fcb47a;
  border: 4px solid #fcb47a;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
}

#get-in-touch-coding {
  transform: scale(1);
  transition: transform 0.4s;
  animation: beats 1.5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0 20rem 0;
}

@keyframes beats {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.project__structure--image img {
  border-radius: 5rem;
  width: 28rem;
  height: 18rem;
  box-shadow: 0rem 2rem 2rem 0 #113b75;
}

.project__structure--writing {
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.right__text {
  font-size: 1.4rem;
  text-align: center;
}

.right__logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__logos--main1 img {
  height: 5rem;
  animation: beats 1.5s linear infinite;
  margin-top: 2rem;
}

.right__logos--main2 img {
  height: 3.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 480px) {
  .right__text {
    font-size: 1.5rem;
  }

  .right__logos--main1 img {
    height: 5.2rem;
  }

  .right__logos--main2 img {
    height: 3.7rem;
  }
}