* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", serif;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.2rem;
}

header {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #2f1866, #3761b1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-height: 100vh;
}

.landing-page__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 2.5rem;
}
.landing-page__navigation a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.4s;
}
.landing-page__navigation a:hover {
  border-bottom: 4px solid #fff;
}
.landing-page__naming {
  text-align: center;
  font-size: 2rem;
  margin-top: 12rem;
}

.main {
  background: linear-gradient(to bottom, #2e578f, #458eb8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.main__name {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 7.5rem;
}
.main__paragraph {
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
}
.main__tech-stack {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__tech-stack img {
  width: 3rem;
  height: 3rem;
  margin: 1rem auto;
}

.projects {
  background: radial-gradient(#688dd1, #113b75);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15rem;
}
.project__name {
  font-size: 2.3rem;
  text-transform: uppercase;
  text-align: center;
  margin: 5rem 0 2.5rem 0;
}
.project__structure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.project:last-child {
  padding-bottom: 25rem;
}

.footer {
  background: radial-gradient(#f6e2d2, #fba055);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__naming {
  margin-top: 10rem;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}
.footer__buttons {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
.footer__buttons .btn:link,
.footer__buttons .btn:visited {
  text-decoration: none;
  margin: 0rem 2rem;
  border: 2px solid #fff;
  padding: 0.3rem;
  border-radius: 15px;
  transition: transform 0.4s;
}
.footer__buttons .btn:hover,
.footer__buttons .btn:active {
  transform: translateY(-5px);
}
.footer__buttons .btn img {
  height: 2.5rem;
  width: 2.5rem;
}

#get-in-touch {
  font-size: 1.5rem;
  color: #fcb47a;
  border: 4px solid #fcb47a;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
}

#get-in-touch-coding {
  transform: scale(1);
  transition: transform 0.4s;
  animation: beats 1.5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16rem;
}

@keyframes beats {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.project__structure--image img {
  border-radius: 5rem;
  width: 25rem;
  height: 15rem;
  box-shadow: 0rem 2rem 2rem 0 #113b75;
}

.project__structure--writing {
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.right__text {
  font-size: 1.2rem;
  text-align: center;
}

.right__logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__logos--main1 img {
  height: 4.5rem;
  animation: beats 1.5s linear infinite;
  margin-top: 2rem;
}

.right__logos--main2 img {
  height: 3rem;
  margin-bottom: 1rem;
}