/* Main settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 10px = 1rem */
}
body {
  font-family: "Lato", serif;
  line-height: 1.5;
  color: #fff;
}

/* HEADER */

header {
  height: 100vh;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #32196d, #3761b1);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;

  padding: 3rem 20rem;
}

.landing--page {
  padding: 20rem 0;
}

.landing--page__name {
  text-align: center;
  font-size: 4rem;
}

.landing--page__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0 20rem;
  margin-top: 12rem;
}

/* BUTTONS */

.btn:link,
.btn:visited {
  text-decoration: none;
  background-color: #fff;
  border-radius: 2.5rem;
  padding: 1rem;
  width: 18rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn--black {
  border: 2px solid black;
  color: rgb(0, 0, 0);
}

.btn--blue {
  border: 3px solid #0077b5;
  color: #0077b5;
}

figure img {
  height: 3rem;
  width: 3rem;
}

/* MAIN ABOUT ME*/
.main {
  background: linear-gradient(to bottom, #2e578f, #458eb8);
  height: 100vh;
}

.main--text {
  padding: 10rem 0;
}

.main--text__name {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 15rem;
}

.main--text__paragraph {
  font-size: 2.5rem;
  text-align: left;
  padding: 0 35rem 4rem 35rem;
}

/* MAIN TECH STACK */

.tech--stack__images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ebefff;
}

.tech--stack__images img {
  width: 6rem;
}

/* MAIN PROJECTS PART */

.projects {
  background: radial-gradient(#688dd1, #113b75);
  padding: 10rem 2rem;
}

.projects--header {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 15rem;
}

.projects--list__name {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 7rem;
}

.projects--list__item {
  display: flex;
  justify-content: space-around;
  padding: 3rem 15rem 15rem 15rem;
}

.projects--list__item:last-child {
  padding: 3rem 15rem 10rem 15rem;
}

.projects--list__image img {
  border-radius: 10rem;
  width: 40rem;
  height: 28rem;
}

.projects--list__writing {
  font-size: 2rem;
  width: 45%;
}

.projects--list__writing p {
  margin: 2rem 0;
}

.project--list__logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.project--list__logos-main1 img {
  height: 6rem;
}

.project--list__logos-main2 img {
  height: 4rem;
}

/* FOOTER */

.footer {
  background: radial-gradient(#244fa0, #006879);
  opacity: 0.85;
  height: 4rem;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 4rem;
  font-weight: bolder;
}
